<h1>New Comment</h1>

<% if flash[:errors] %>
<ol class="errors">
<% flash[:errors].each do |error| %>
  <li><%= error %></li>
<% end %>
</ol>
<% end %>

<form class="other" action="<%= comments_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <div>
    <label for="comment_body">Body</label>
    <textarea id="comment_body" name="comment[body]"><%= @comment.body %></textarea>
  </div>

  <button>Submit</button>
</form>